@charset "UTF-8";
/*!
Theme Name: autotel2020
Theme URI: http://autotel.co
Author: autotel.co
Author URI: http://autotel.co/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: autotel2019
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

autotel2019 is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,500&display=swap");
body.category-portfolio .items-tags-container .button-expand {
  top: -30px;
}
body.category-portfolio .items-portfolio-container.masonry .item-container {
  width: 300px;
  height: 300px;
}
body.category-portfolio .items-portfolio-container.masonry .item-container * {
  max-width: 100%;
}
body.category-portfolio .items-portfolio-container:not(.masonry) {
  display: flex;
  flex-wrap: wrap;
}
body.category-portfolio .items-portfolio-container:not(.masonry) .item-container {
  background-color: #454949;
  position: relative;
  flex-basis: 25%;
  overflow: hidden;
}
body.category-portfolio .items-portfolio-container:not(.masonry) .item-container:nth-child(5n+1) {
  background-color: crimson;
}
body.category-portfolio .items-portfolio-container:not(.masonry) .item-container:nth-child(7n+1) {
  background-color: #1984d2;
}
body.category-portfolio .items-portfolio-container:not(.masonry) .item-container:nth-child(11n+1) {
  background-color: #ff9b18;
}
body.category-portfolio .items-portfolio-container:not(.masonry) .item-container:nth-child(13n+1) {
  background-color: #ffd20e;
}
body.category-portfolio .items-portfolio-container:not(.masonry) .item-container.without-image div h2 {
  right: 0;
  opacity: 1;
}
body.category-portfolio .items-portfolio-container:not(.masonry) .item-container.has-image div h2 {
  background-color: rgba(0, 0, 0, 0.473);
}
body.category-portfolio .items-portfolio-container:not(.masonry) .item-container div {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
body.category-portfolio .items-portfolio-container:not(.masonry) .item-container div h2 {
  z-index: 1;
  padding: 10px;
  color: white;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  right: -100%;
  transition: 0.3s right;
}
body.category-portfolio .items-portfolio-container:not(.masonry) .item-container div:hover h2 {
  right: 0;
  transition: 0.3s right;
}
body.category-portfolio .items-portfolio-container:not(.masonry) .item-container div .preview {
  position: absolute;
  top: 0px;
}
body.category-portfolio .items-portfolio-container:not(.masonry) .item-container div .preview html {
  width: 100%;
  height: 100%;
  background-color: #260138;
}

body.home .section-content-container {
  max-width: unset;
  width: 100%;
}
body.home .section-header-container .site-title {
  position: absolute;
  left: 20px;
  top: -10px;
}
body.home footer, body.home .section-comments-container {
  display: none;
}
body.home .section-metadata-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

body .items-music-container .item-container {
  font-family: "Roboto", sans-serif;
  width: 43%;
  min-width: 300px;
  padding-left: 12px;
  overflow: hidden;
  margin: 10px;
  position: relative;
  float: left;
}
body .items-music-container .item-container:nth-child(1) {
  width: 90%;
  min-height: 300px;
}
body .items-music-container .item-container .post_title {
  font-weight: 400;
  text-align: right;
}
body .items-music-container .item-container .year {
  position: absolute;
  background-color: crimson;
  color: white;
  padding: 5px;
  padding-left: 11px;
  left: 0px;
  top: 3rem;
  z-index: 1;
  display: inline;
}
body .items-music-container .item-container img {
  max-width: 100%;
}

body {
  /*
  for the page template named "centered"
  */
}
body.page-template-page_centered .section-title-container {
  text-align: center;
}
body.page-template-page_centered .section-title-container.minimized {
  max-width: unset;
}
body.page-template-page_centered .section-title-container.minimized h1 {
  border-left: unset;
}
body.page-template-page_centered .section-content-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: unset;
}
body.page-template-page_centered .section-content-container > * {
  flex-basis: 100%;
  flex-shrink: 0;
}
body.page-template-page_centered .section-content-container h1, body.page-template-page_centered .section-content-container h2, body.page-template-page_centered .section-content-container h3, body.page-template-page_centered .section-content-container h4, body.page-template-page_centered .section-content-container h5, body.page-template-page_centered .section-content-container h6 {
  text-align: center;
}
body.page-template-page_centered .section-content-container > *:not(.break-out) {
  max-width: 70rem;
}
body.page-template-page_centered .section-header-container .site-title {
  position: absolute;
  left: 20px;
  top: -10px;
}
body.page-template-page_centered footer, body.page-template-page_centered .section-comments-container {
  display: none;
}
body.page-template-page_centered .section-metadata-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.full-width {
  width: 100%;
  height: auto;
}

.full-height {
  width: auto;
  height: 100%;
}

body .section-container .fullscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  overflow: hidden;
}

.items-container.grid3d {
  transform-style: preserve-3d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.items-container.grid3d .item-container {
  transform-style: preserve-3d;
  perspective: 1200px;
  position: relative;
  overflow: hidden;
  flex-basis: 25%;
  width: 25%;
}
@media (orientation: portrait) {
  .items-container.grid3d .item-container {
    flex-basis: 33.33%;
    width: 33.33%;
  }
}
.items-container.grid3d .item-container a {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transition: 0.3s transform;
  display: block;
  position: absolute;
  margin: 60%;
  top: -30%;
  left: -30%;
}
.items-container.grid3d .item-container p.year {
  position: absolute;
  color: white;
  padding: 1px 7px;
  bottom: 30%;
  right: 30%;
  margin: 0;
  font-size: 2vw;
  transform: translateZ(6px);
}
.items-container.grid3d .item-container:hover {
  transition: 0.3s transform;
}
.items-container.grid3d .item-container:hover:nth-child(3n+1) a {
  transform: rotateX(-12deg) rotateY(-15.1deg);
}
.items-container.grid3d .item-container:hover:nth-child(3n+2) a {
  transform: rotateX(-2deg) rotateY(35deg);
}
.items-container.grid3d .item-container:hover:nth-child(3n+3) a {
  transform: rotateX(7deg) rotateY(-19.1deg);
}
.items-container.grid3d .item-container:hover p.post_title {
  right: 0;
  transition: 0.3s right;
}
.items-container.grid3d .item-container:nth-child(2n+1) p.post_title {
  background-color: rgba(255, 210, 14, 0.5);
}
.items-container.grid3d .item-container:nth-child(3n+1) p.post_title {
  background-color: rgba(69, 73, 73, 0.5);
}
.items-container.grid3d .item-container:nth-child(5n+1) p.post_title {
  background-color: rgba(220, 20, 60, 0.5);
}
.items-container.grid3d .item-container p.post_title {
  transform-style: preserve-3d;
  font-family: "Roboto", sans-serif;
  font-size: 5vw;
  font-weight: 500;
  background-color: rgba(25, 132, 210, 0.5);
  hyphens: auto;
  position: absolute;
  z-index: 1;
  padding: 30%;
  left: -60%;
  top: -60%;
  margin: 0;
  color: white;
  width: 100%;
  bottom: 0px;
  box-sizing: content-box;
  transition: 0.3s right;
  height: 100%;
  transform: translateZ(-30px);
}
.items-container.grid3d .item-container img {
  position: absolute;
  top: -60%;
  left: -60%;
  transform: translateZ(-70px);
}
.items-container.grid3d .item-container img.full-width {
  width: 160%;
}
.items-container.grid3d .item-container img.full-height {
  height: 160%;
}

.items-container.flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.items-container.flex .item-container {
  position: relative;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  flex-basis: 25%;
  flex-grow: 1;
  min-width: 300px;
  max-width: 700px;
}
.items-container.flex .item-container a {
  width: 100%;
  height: 100%;
  display: block;
}
.items-container.flex .item-container p {
  background-color: white;
}
.items-container.flex .item-container p.post_title {
  font-family: "Roboto", sans-serif;
  hyphens: auto;
  font-size: 3vw;
}
.items-container.flex .item-container p.post_title:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid #1984d2;
  transform: translate(-50%, -10px);
}
.items-container.flex .item-container img {
  width: 100%;
}

body #primary-menu {
  position: fixed;
  z-index: 10;
  top: 0px;
  right: 0px;
  margin: 0px;
  text-align: right;
  display: inline-block;
  width: 100%;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
body #primary-menu li {
  display: inline-block;
  height: 30px;
  margin-bottom: 0px;
  margin-top: 5px;
  padding-top: 4px;
  font-weight: 100;
}
body #primary-menu li a {
  padding: 0px 6px;
  margin: 0px;
  background-color: #FFFC;
  text-transform: lowercase;
}
body #primary-menu li a:hover {
  background-color: crimson;
  color: white;
}

body {
  /** 
  every page has a main-container containing section-containers, allowing 
  easier general layout.
  */
}
body .main-container {
  position: relative;
  top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .main-container .section-container {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
body .main-container .section-container.section-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
}
body .main-container .section-container.section-title-container {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5rem;
  position: relative;
}
body .main-container .section-container.section-title-container h1 {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: solid 1px #d9d9d9;
}
body .main-container .section-container.section-metadata-container {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  body .main-container .section-container.section-metadata-container {
    break-before: always;
  }
}
@media screen and (min-width: 1200px) {
  body .main-container .section-container.section-metadata-container {
    width: 30%;
    flex-basis: 30%;
  }
}
body .main-container .section-container.section-posts-container {
  max-width: 1200px;
  flex-basis: 100%;
}
@media screen and (min-width: 1200px) {
  body .main-container .section-container.section-posts-container {
    flex-basis: 70%;
  }
}

.title::first-letter {
  text-transform: uppercase;
}

body {
  /**hotfix title invisible*/
  font-size: 20px;
  font-family: serif;
  font-weight: lighter;
  color: #3d3d3d;
  margin: 0px;
  padding: 0px;
}
body.home .section-header-container .site-title {
  top: -76px;
}
body .main-container {
  margin-top: 20px;
}
body .section-footer-container {
  min-height: 300px;
  background-color: #e9e9e9;
  padding-top: 21px;
}
body a {
  text-decoration: none;
  color: inherit;
}
body img {
  font-style: italic;
  font-size: 1.2rem;
  color: #CCC;
}
body .tag, body .post-edit-link, body .button {
  padding: 6px 10px;
  background-color: #f8f8f8;
  display: inline-block;
  margin: 4px;
  margin-left: 4px;
  margin-left: 1px;
  font-family: "Roboto", sans-serif;
}
body .tag.active:hover::after, body .active.post-edit-link:hover::after, body .active.button:hover::after {
  background-color: white;
}
body .tag.active::after, body .active.post-edit-link::after, body .active.button::after {
  content: "✕";
  position: relative;
  font-size: 0.7em;
  border: solid 1px white;
  border-radius: 50%;
  margin-left: 7px;
  color: white;
  width: 1em;
  height: 1em;
  display: inline-block;
  text-align: center;
  line-height: 1em;
}
body .tag:hover, body .post-edit-link:hover, body .button:hover, body .tag.hover, body .hover.post-edit-link, body .hover.button, body .tag.active, body .active.post-edit-link, body .active.button {
  background: crimson;
  color: white;
}
body .tag:hover.year, body .post-edit-link:hover.year, body .button:hover.year, body .tag.hover.year, body .hover.year.post-edit-link, body .hover.year.button, body .tag.active.year, body .active.year.post-edit-link, body .active.year.button {
  background-color: #ffd20e;
}
body .tag:hover.area, body .post-edit-link:hover.area, body .button:hover.area, body .tag.hover.area, body .hover.area.post-edit-link, body .hover.area.button, body .tag.active.area, body .active.area.post-edit-link, body .active.area.button {
  background-color: #454949;
}
body .tag:hover.context, body .post-edit-link:hover.context, body .button:hover.context, body .tag.hover.context, body .hover.context.post-edit-link, body .hover.context.button, body .tag.active.context, body .active.context.post-edit-link, body .active.context.button {
  background-color: #1984d2;
}
body .tag:hover.tool, body .post-edit-link:hover.tool, body .button:hover.tool, body .tag.hover.tool, body .hover.tool.post-edit-link, body .hover.tool.button, body .tag.active.tool, body .active.tool.post-edit-link, body .active.tool.button {
  background-color: #8301c6;
}
body blockquote {
  font-size: 1.7rem;
  margin: 0px;
  font-style: italic;
  opacity: 0.6;
}
body .button {
  cursor: pointer;
}
body .button:hover.black {
  background-color: #3d3d3d;
}
body .button:hover.blue {
  background-color: #1984d2;
}
body .button:hover.yellow {
  background-color: #ffd20e;
}
body .button:hover.orange {
  background-color: #ff9b18;
}
body .button:hover.green {
  background-color: #3cd45d;
}
body .button:hover.purple {
  background-color: #8301c6;
}
body .button:hover.red {
  background-color: crimson;
}
body .expanded .button-expand {
  background-color: crimson;
  transform: rotate(360deg);
  transition: 0.3s transform;
}
body .prettyprint .button-expand * {
  color: #3d3d3d !important;
}
body .button-expand {
  position: relative;
  float: right;
  transition: 0.3s transform;
}
body h1, body h2, body h3, body h4, body h5 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 500px) {
  body h1, body h2, body h3, body h4, body h5 {
    font-size: 80%;
  }
}
body h1 {
  font-weight: 100;
  color: #1984d2;
}
body figure {
  margin: 0;
}
body figure img {
  width: 100%;
  height: auto;
}
body.single-post .section-metadata-container {
  float: right;
  max-width: 900px;
}
body .section-content-container {
  float: right;
  max-width: 900px;
  overflow: hidden;
}
body .section-tag-categorizer-container {
  padding-left: 20px;
  padding-right: 20px;
}
body .section-content-container h1, body .section-posts-container h1 {
  font-size: 4rem;
}
body .section-content-container > p, body .section-content-container > h1, body .section-content-container > h2, body .section-content-container > h3, body .section-content-container > h4, body .section-content-container > h5, body .section-content-container > span {
  padding-left: 20px;
  padding-right: 20px;
}
body .items-blogposts-container {
  margin-bottom: 404.5px;
  padding-top: 110px;
}
body .items-blogposts-container .item-blogpost-container {
  display: block;
  position: relative;
  top: 30px;
  transition-property: transform;
  transition-duration: 0.2s;
  background-color: #fff;
  overflow: hidden;
  width: 500px;
  height: 809px;
  margin-bottom: -709px;
}
body .items-blogposts-container .item-blogpost-container img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 801px) {
  body .items-blogposts-container .item-blogpost-container {
    box-shadow: 5px 2px 5px #0005;
    padding: 20px;
    width: 500px;
    margin-left: -250px;
  }
  body .items-blogposts-container .item-blogpost-container:nth-child(4n+0) {
    left: 60%;
  }
  body .items-blogposts-container .item-blogpost-container:nth-child(4n+1) {
    left: 35%;
  }
  body .items-blogposts-container .item-blogpost-container:nth-child(4n+2) {
    left: 64%;
  }
  body .items-blogposts-container .item-blogpost-container:nth-child(4n+3) {
    left: 40%;
  }
  body .items-blogposts-container .item-blogpost-container:nth-child(5n+1) {
    transform: rotate(5deg);
    background-color: #faf6ea;
  }
  body .items-blogposts-container .item-blogpost-container:nth-child(5n+3) {
    transform: rotate(3deg);
    background-color: #f9f9f9;
  }
  body .items-blogposts-container .item-blogpost-container:nth-child(5n+4) {
    transform: rotate(2deg);
    background-color: #ecf5f1;
  }
  body .items-blogposts-container .item-blogpost-container:nth-child(5n+0) {
    transform: rotate(-1deg);
    background-color: #fdfdf5;
  }
  body .items-blogposts-container .item-blogpost-container:nth-child(5n+2) {
    transform: rotate(-4deg);
    background-color: #e7ecef;
  }
}
@media screen and (max-width: 800px) {
  body .items-blogposts-container .item-blogpost-container {
    border-top: solid 1px #b4b4b4;
    width: 100%;
  }
}
body .items-blogposts-container .item-blogpost-container:hover, body .items-blogposts-container .item-blogpost-container.hover {
  transform: translateY(-100px);
  transition-property: transform;
  transition-duration: 0.2s;
}
body .items-blogposts-container .item-blogpost-container > * {
  pointer-events: none;
}
body .items-generic-posts-container .item-container {
  overflow: hidden;
  border-bottom: solid;
  width: 265px;
  height: 265px;
  margin: 10px;
  position: relative;
  display: inline-block;
}
body .items-generic-posts-container .item-container .title {
  position: absolute;
  background-color: #1984d2dd;
  width: 100%;
  width: calc(100% - 20px);
  height: 100%;
  top: 0px;
  margin: 0px;
  padding: 10px;
  transition: 0.3s;
}
body .items-generic-posts-container .item-container:hover .title {
  top: -90px;
  opacity: 0;
  transition: 0.3s;
}
body .items-generic-posts-container .item-container > * {
  pointer-events: none;
}
body .items-generic-posts-container .item-container .preview {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
