

$sticky-title: false;

body{
    #primary-menu{
        position: fixed;
        z-index:10;
        top: 0px;
        right: 0px;
        margin:0px;
        text-align: right;
        display: inline-block;
        width:100%;
        list-style: none;

        @include displayFont();
        // background: linear-gradient(white,#fff0);
        li{
            display: inline-block;
            height: 30px;
            a{
                padding: 0px 6px;
                margin: 0px;
                background-color: #FFFC;
                text-transform: lowercase;
            }
            margin-bottom: 0px;
            margin-top: 5px;
            padding-top: 4px;
            font-weight: 100;
            // text-shadow: 0px 0px 2px white;
        }
        li a:hover{
            background-color:$red;
            color:white;
        }
    }
    // .section-container.section-header-container{
    //     background-color: white;
    //     display: block;
    //     height: 3rem;
    //     position: absolute;
    //     z-index: 10;
    //     margin: 0 0 0 0;
    //     padding: 0;
    //     top: 0;
    //     opacity: 1;
        
    //     @if($sticky-title){
    //         position: sticky;
    //         // top:30px;
    //         @media screen and (max-width:$sticky-breakpoint){
    //             text-align: left;
    //             // position: relative;
                
    //         }
    //     }@else{
    //         // top:24px;
    //         // position: relative;
    //     }
    //     .site-description{
    //         font-size: 0.7rem;
    //         opacity: 0.5;
    //         margin-top: -27px;
    //     }
    //     .site-title{
            
    //         // font-family: 'IBM Plex Sans', sans-serif;
    //         font-weight: 500;
    //         @include displayFont;
    //         @media screen and (max-width: 500px){
    //             font-size: 80%
    //         }
            
    //         font-weight: 100;
    //         font-size:1.3em;
    //         color:inherit;
    //         display: block;
    //         // top: 1rem;
    //         position: relative;
    //         z-index: 20;
            
    //     }
    // }
}