@import "../vars";

body.category-portfolio{
     .items-tags-container{
        .button-expand{
            top: -30px;
        }
    }

    
    $previewElementMaxWidth:1200px;

    .items-portfolio-container.masonry{
        .item-container{
            width:300px;
            height:300px;

            *{
                max-width: 100%;
            }
        }
    }

    .items-portfolio-container:not(.masonry){
        display: flex;
        flex-wrap: wrap;
        .item-container{

            background-color: $darkgray;
            
            &:nth-child(5n+1){
                background-color: $red;
            }
            &:nth-child(7n+1){
                background-color: $blue;
            }
            &:nth-child(11n+1){
                background-color: $orange;
            }
            &:nth-child(13n+1){
                background-color: $yellow;
            }

            &.without-image div h2{
                right: 0;
                opacity:1;
            }
            &.has-image div h2{
                // text-shadow: 0px 0px 1rem black;
                background-color: rgba(0, 0, 0, 0.473);
            }
            position: relative;
            flex-basis:25%;
            overflow: hidden;
            div{
                // margin: 5px;
                overflow: hidden;
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                
                h2{
                    z-index: 1;
                    padding: 10px;
                    color: white;
                    width: 100%;
                    box-sizing: border-box;
                    position: absolute;
                    //animating right 
                    bottom: 0px;
                    right:-100%;
                    transition: 0.3s right;
                    //animating opacity
                    // height:100%;
                    // margin-top:0;
                    // top:0;
                    // opacity: 0;
                    // transition: 0.3s opacity;
                }

                &:hover h2{
                    right: 0;
                    transition: 0.3s right;
                    // opacity: 1;
                    // transition: 0.3s opacity;
                }

                .preview{
                    position:absolute;
                    top:0px;
                    //inside could be either:
                    //img
                    //html
                    //html that contains an image (post has image at the top but forgot to add featured image)
                    html{
                        width: 100%;
                        height: 100%;
                        background-color: $darkpurple;
                    }
                }

            }
        }
    }
}