body{
    .items-music-container{
        .item-container{
            @include displayFont();
            width:43%;
            min-width: 300px;
            &:nth-child(1){
                width:90%;
                min-height:300px;
            }
            padding-left: 12px;
            overflow: hidden;
            margin: 10px;
            // height: 200px;
            position: relative;
            float:left;
            //background-color: white;
            .post_title {
                font-weight: 400;
                // opacity:0;
                text-align: right;
            }
            .year {
                position: absolute;
                background-color: $red;
                color: white;
                padding: 5px;
                padding-left: 11px;
                left: 0px;
                top: 3rem;
                z-index: 1;
                display: inline;
            }
            img{
                max-width: 100%;
            }
            // transition:0.2s;
            // padding-right: 1000px;
            // padding-left: 1000px;
            // margin-left: -1000px;
        }
        // .item-container:hover{
        //     .post_title {
        //         opacity:1;
        //     }
        //     z-index: 2;
        //     top:-40px;
        //     left:20%;
        //     width: 60%;
        //     height: 400px;
        //     transition:0.2s;
        // }
    }
}