body{
    
    &.home{
        .section-content-container{
            max-width: unset;
            width: 100%;
        }
        .section-header-container .site-title {
            //make title appear at the very top in this case
            position:absolute;
            left:$body-margin;
            top:-10px;
            // z-index: 3;
        }
        
        footer,.section-comments-container{
            display:none;
        }
        .section-metadata-container{
            position: fixed;
            bottom:0px;
            right: 0px;
        }
        // .items-container.shortcode{
        //     position: absolute;
        //     $top:47px;
        // }
    }
}