body{
    /*
    for the page template named "centered"
    */
    
    &.page-template-page_centered{
        .section-title-container{
            text-align: center;
            &.minimized{
                max-width:unset;
                h1 {
                    border-left:unset;
                    // border-bottom: solid 1px rgba(0, 0, 0, 0.295);
                }
            }
        }
        .section-content-container{

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            max-width: unset;

            &>*{

                flex-basis: 100%;
                flex-shrink: 0;
            }

            h1,h2,h3,h4,h5,h6{
                text-align: center;
            }
            p{
                // text-align: left;
            }
            &>*:not(.break-out){
                max-width: 70rem;
            }
        }
        .section-header-container .site-title {
            //make title appear at the very top in this case
            position:absolute;
            left:$body-margin;
            top:-10px;
        }
        
        footer,.section-comments-container{
            display:none;
        }
        .section-metadata-container{
            position: fixed;
            bottom:0px;
            right: 0px;
        }
        // .items-container.shortcode{
        //     position: absolute;
        //     $top:47px;
        // }
    }
}