@import "../vars";

.items-webdesign-container{
    $push-down:10vw;

    // perspective: 8px; 
    // transform: translateZ(0);
    // perspective-origin: 50%;
    // overflow-y: auto;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-bottom:$push-down;

    .item-container{

        position: relative;
        padding:5px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-self: center;
        // box-shadow: 2px 2px 2px $black;
        margin-bottom: $push-down/2;

        overflow: hidden;

        a{
            display: block;
            position:absolute;
            width:100%;
            height: 100%;
        }

        .thumbnail{
            position: absolute;
            left:0;
            top:0;
        }

        &:hover{
            p.post_title{
                // right:0%;
                opacity: 1;
                transition: 0.3s;
            }
        }

        p.post_title{
            font-size: 2rem;
            @include displayFont;
            // background-color: $yellow;
            // display: inline;
            position: absolute;
            background-color: $black;
            width: 100%;
            height: 100%;
            margin: 0;
            padding-top: 4rem;
            color:white;
            z-index: 1;

            opacity:0;
            transition: 0.3s;
        }
        
        p.year{
            position: absolute;
            background-color: $blue;
            color: white;
            padding: 1px 7px;
        }

        text-align: center;
        &:nth-child(2n+0){
            // text-align: left;
            //background-color: red;
            position:relative;
            top:$push-down;
            p.year{
                right:0px;
            }
        }

        &:nth-child(2n+1){
            // text-align: right;

            p.year{
                left:0px;
            }
        }
        // transform: translateZ(5);
        position: relative;

        flex-basis:50%;

        @media only screen and (min-width: 1200px) {
            flex-basis:25%;
        }
        @media only screen and (max-width: 700px) {
            flex-basis:100%;
        }
        // overflow: hidden;
        // *{
        //     max-width: 100%;
        // }
    }
}