body .section-container{
    .fullscreen {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
        padding-left: 0;
        padding-right:0;
        width: 100%;
        overflow: hidden;
    }
}