.items-container.flex{
    //make elements inside the 3d bigger so that their edges don't appear upon rotation
    $padding:10px;
    display:flex;
    flex-wrap:wrap;
    text-align: center;
    justify-content:center;
    .item-container{
        position:relative;
        display: inline-block;
        padding:$padding;
        box-sizing: border-box;
    
        flex-basis:25%;
        // width:25%;
        flex-grow: 1;
        min-width:300px;
        max-width:700px;
        
        //a would parent the other elements if present, but since it might not, is better to declare rules in parallel
        a{
            width: 100%;
            height: 100%;
            display: block;
        }
        p{
            background-color: white;
        }
        p.year{
            // position: absolute;
        }
        &:hover{
            p.post_title{
                // right: 0;
            }
        }

        p.post_title{
            @include displayFont;
            hyphens: auto;
            font-size: 3vw;
            //vline 
            &:after {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 50%;
                border-left: 1px solid $blue;
                transform: translate(-50%,-10px);
            }
              
        }
        img{
            width: 100%;
        }
    }
}