.items-container.grid3d{
    //make elements inside the 3d bigger so that their edges don't appear upon rotation
    $overgrow:60%;
    transform-style: preserve-3d;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    .item-container{
        transform-style: preserve-3d;
        perspective:1200px;
        position: relative;
        overflow: hidden;

        flex-basis:25%;
        width: 25%;
        @media (orientation:portrait) {
            flex-basis:33.33%;
            width: 33.33%;
    
        }
        //a would parent the other elements if present, but since it might not, is better to declare rules in parallel
        a{
            transform-style: preserve-3d;
            width: 100%;
            height: 100%;
            transition:0.3s transform;
            display: block;
            position: absolute;
            margin:$overgrow;
            top:-$overgrow/2;
            left:-$overgrow/2;
        }
        
        p.year{
            position: absolute;
            color: white;
            padding: 1px 7px;

            bottom:0%+$overgrow/2;
            right:0%+$overgrow/2;

            margin: 0;
            font-size: 2vw;

            transform: translateZ(6px);
        }
        &:hover{
            transition:0.3s transform;
            &:nth-child(3n+1){
                a{
                    transform: rotateX(-12deg) rotateY(-15.1deg);
                    // opacity: 0.9;
                }
            }
            &:nth-child(3n+2){
                a{
                    transform: rotateX(-2deg) rotateY(35deg);
                    // opacity: 0.9;
                }
            }
            &:nth-child(3n+3){
                a{
                    transform: rotateX(7deg) rotateY(-19.1deg);
                    // opacity: 0.9;
                }
            }
            p.post_title{
                right: 0;
                transition: 0.3s right;
            }
        }


        &:nth-child(2n+1){
            p.post_title{
                background-color: rgba($yellow,0.5);
            }
        }
        &:nth-child(3n+1){
            p.post_title{
                background-color: rgba($darkgray,0.5);
            }
        }

        &:nth-child(5n+1){
            p.post_title{
                background-color: rgba($red,0.5);
            }
        }

        p.post_title{
            transform-style: preserve-3d;

            @include displayFont;
            font-size: 5vw;
            font-weight: 500;
            background-color: rgba($blue,0.5);
            hyphens: auto;

            position: absolute;
            z-index: 1;
            //make the surface extend beyond
            padding: $overgrow/2;
            left: -$overgrow;
            top: -$overgrow;

            margin: 0;

            color: white;
            width: 100%;
            bottom: 0px;
            box-sizing: content-box;
            transition: 0.3s right;
            height: 100%;

            transform: translateZ(-30px);
            
        }
        img{
            position: absolute;
            top:-$overgrow;
            left:-$overgrow;
            transform: translateZ(-70px);
            &.full-width{
                width: 100%+$overgrow;
                // margin-top: -50%;
            }
            &.full-height{
                height: 100%+$overgrow;
                // margin-left: -50%;
            }
        }
    }
}