/*!
Theme Name: autotel2020
Theme URI: http://autotel.co
Author: autotel.co
Author URI: http://autotel.co/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: autotel2019
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

autotel2019 is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
@import "./template-parts/category-portfolio";
@import "./template-parts/page-home";
@import "./template-parts/page-music";
// @import "./template-parts/page-web";
@import "./template-parts/page_centered";
@import "./utility/script-related";
@import "./available/index";
@import "./sections/header";
@import "./section-containers-layout.scss";

@import "./vars";

//what's the min screen width to have the sticky, actually sticky (otherwise it overlays text after scrolling)
$sticky-breakpoint: 1445px;



.title::first-letter {
    text-transform: uppercase;
}



body{
    /**hotfix title invisible*/
    &.home .section-header-container .site-title{
        top: -76px;
    }
    font-size: 20px;
    font-family: serif;
    font-weight: lighter;
    color: $black;
    // width:100vw;
    // overflow-x: hidden;
    margin:0px;
    padding:0px;
    .main-container{
        margin-top:20px;
    }
    @if($sticky-title){
        .main-container{
            float:left;
            position: relative;
        }
    }
    .section-footer-container{
        min-height: 300px;
        // background: linear-gradient(black,transparent);
        background-color: #e9e9e9;
        padding-top: 21px;
    }

    a{
        text-decoration: none;
        color:inherit;
        
    }
    //for when image is broken and it displays the alt text
    img {
        font-style: italic;
        font-size: 1.2rem;
        color: #CCC;
    }
    .tag{
        padding: 6px 10px;
        background-color: #f8f8f8;
        display: inline-block;
        margin: 4px;
        margin-left: 4px;
        margin-left: 1px;
        @include displayFont;

    }
    .tag.active{
        &:hover::after{
            background-color: white;
        }
        &::after{
            content: "✕";
            position: relative;
            font-size: 0.7em;
            border: solid 1px white;
            border-radius: 50%;
            margin-left: 7px;
            color: white;
            width: 1em;
            height: 1em;
            display: inline-block;
            text-align: center;
            line-height: 1em;
        }
    }
    .tag:hover,.tag.hover,.tag.active{
        background: $red;
        color: white;
        &.year{
            background-color:$yellow;
        }
        &.area{
            background-color:$darkgray;
        }
        &.context{
            background-color:$blue
        }
        &.tool{
            background-color:$purple;
        }
        // &.other{
            // background-color:$red;
        // }
    }
    blockquote {
        font-size: 1.7rem;
        margin: 0px;
        font-style: italic;
        opacity: 0.6;
    }
    .button{
        cursor: pointer;
        @extend .tag;
        
    }
    .button:hover{
        &.black{
            background-color:$black;
        }
        &.blue{
            background-color:$blue;
        }
        &.yellow{
            background-color:$yellow;
        }
        &.orange{
            background-color:$orange;
        }
        &.green{
            background-color:$green;
        }
        &.purple{
            background-color:$purple;
        }
        &.red{
            background-color:$red;
        }
    }
    .expanded .button-expand{
        background-color: $red;
        //the lib also reverses the character. 360 deg gives rotation illusion, while the js actually does the flip.
        transform: rotate(360deg);
        transition: 0.3s transform;
    }
    
    .prettyprint .button-expand *{
        color:$black !important; //overriding a plugin
    }
    .button-expand{
        position: relative;
        float:right;
        transition: 0.3s transform;
    }
    .post-edit-link{
        @extend .tag;
    }
    h1,h2,h3,h4,h5{
        font-weight: 500;
        @include displayFont;
        @media screen and (max-width: 500px){
            font-size: 80%
        }
    }
    h1{
        font-weight: 100;
        // text-transform: uppercase;
        color: $blue;
    }
    
    figure{//damn wordpress
        margin:0;
        img{        
            width:100%;
            height:auto;
        }
    }

    &.single-post{
        .section-metadata-container{
            float:right;
            max-width: 900px;
        }
    }
    // &.single-post{
        .section-content-container{
            float:right;
            max-width: 900px;
            overflow: hidden;
            // @media screen and(min-width:1200px){
            //     padding-right: 40px;
            // }
        }
    // }
    
    // #primary-menu{
    //     position: absolute;
    //     z-index:10;
    //     top: 0px;
    //     left: 0px;
    //     margin:0px;
    //     text-align: center;
    //     display: inline-block;
    //     width:100%;
    //     list-style: none;
    //     background: linear-gradient( #8f8f8f,#8f8f8f,#696464);
    //     li{
    //         display: inline-block;
    //         height: 30px;
    //         padding: 1px 10px;
    //         margin: 2px;
    //         background-color: #a82d2d00;
    //         margin-bottom: 0px;
    //         margin-top: 5px;
    //         padding-top: 4px;
    //     }
    //     li a:hover{
    //         background-color:$red;
    //         color:white;
    //     }
    // }
    
    .section-tag-categorizer-container{
        @include body-margins();
        
    }
    .section-content-container,.section-posts-container{
        h1{
            font-size: 4rem;
        }
    }
    .section-content-container{
        // margin-top: 100px;
        &>p, &>h1, &>h2, &>h3, &>h4, &>h5, &>span{
            @include body-margins();
        }
        
    }
    .items-blogposts-container{
        $sheets-breakpoint:800px;
        $pagew:500px;
        $half-pagew:$pagew/2;
        $pageh:$pagew*1.618;
        margin-bottom:$pageh/2;
        padding-top:110px;
        @media screen and (min-width:$sheets-breakpoint+1){
            // overflow: hidden;
            // background-color:$darkred;
        }
        .item-blogpost-container{
            display:block;
            position: relative;
            top:30px;
            img{
                max-width: 100%;
                height:auto;
            }
            @media screen and (min-width:$sheets-breakpoint+1){
                box-shadow: 5px 2px 5px #0005;
                padding:$body-margin;
                width:$pagew;
                margin-left: - $half-pagew;
                &:nth-child(4n+0){
                    left: 60%;
                }
                &:nth-child(4n+1){
                    left: 35%;
                }
                &:nth-child(4n+2){
                    left: 64%;
                }
                &:nth-child(4n+3){
                    left: 40%;
                }
                &:nth-child(5n+1){
                    transform: rotate(5deg);
                    background-color: rgb(250, 246, 234);
                    
                }
                &:nth-child(5n+3){
                    transform: rotate(3deg);
                    background-color:#f9f9f9;
                }
                &:nth-child(5n+4){
                    transform: rotate(2deg);
                    background-color: rgb(236, 245, 241);

                }
                &:nth-child(5n+0){
                    transform: rotate(-1deg);
                    background-color: rgb(253, 253, 245);

                }
                &:nth-child(5n+2){
                    transform: rotate(-4deg);
                    background-color: #e7ecef;

                }
            }
            @media screen and (max-width:$sheets-breakpoint){
                border-top:solid 1px rgb(180, 180, 180);
                width:100%;
            }
            // transform-origin: transform;
            // transition-property: transform box-shadow;
            // transition-duration: 1s;
            transition-property: transform;
            transition-duration: 0.2s;
            
            &:hover,&.hover{
                // transition-property: transform box-shadow;
                // transition-duration: 1s;
                // transform: rotate(10deg) translate(10px, -200px);
                // box-shadow: 5px 2px 100px #0007;
                // top:-20px;
                transform:translateY(-100px);
                transition-property: transform;
                transition-duration: 0.2s;
            }
            background-color: #fff;
            overflow: hidden;
            width:$pagew;
            height:$pageh;
            margin-bottom: 100px - $pageh;
            
            &>*{
                // position: absolute;
                pointer-events: none;
            }
        }
    }
    .items-generic-posts-container{
        .item-container{
            .title {
                position: absolute;
                background-color: #{$blue+"dd"};
                width: 100%;
                width:calc(100% - 20px);
                height: 100%;
                top: 0px;
                margin: 0px;
                padding: 10px;
                transition: 0.3s;
                
            }
            &:hover{
                .title{
                    top:-90px;
                    opacity:0;
                    transition: 0.3s;
                }
            }

            &>*{
                pointer-events: none;
            }
            .preview{
                width:100%;
                height: 100%;
            }
            overflow: hidden;
            border-bottom:solid;
            width: 265px;
            height:265px;
            margin:10px;
            position:relative;
            display: inline-block;
            
        }
    }
}