@import "./vars";

@mixin vcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body{
    /** 
    every page has a main-container containing section-containers, allowing 
    easier general layout.
    */
    $sidebysidebreakpoint:1200px;
    $titlesHeight:10rem;

    .main-container{
        position: relative;
        top:30px;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        .section-container{
            @include body-margins;
            box-sizing: border-box;
            &.section-header-container{
                @include vcenter;
                height: $titlesHeight;
            }
            &.section-title-container{
                height: $titlesHeight;
                @include vcenter;

                font-size:2.5rem;
                position: relative;
                
                h1{
                    margin-left:1rem;
                    padding-left: 1rem;
                    border-left:solid 1px #d9d9d9;
                }
            }
            &.section-metadata-container{
                width:100%;

                @media screen and (min-width:$sidebysidebreakpoint){
                    break-before: always;
                }

                @media screen and (min-width:$sidebysidebreakpoint){
                    // width:90rem;
                    width:30%;
                    flex-basis: 30%;
                }
            }
                
            &.section-posts-container{
                max-width: $sidebysidebreakpoint;

                @media screen and (min-width:$sidebysidebreakpoint){
                    // width:90rem;
                    flex-basis: 70%;
                    //so that it's pushed up using otherwise white space
                    // margin-top:-$titlesHeight/3;
                }
                // width:100%;
                flex-basis: 100%;
            }
        }

    }
}