
@import url('https://fonts.googleapis.com/css?family=Roboto:100,500&display=swap');

$body-margin:20px;
$section-spacing:30px;
$yellow: #ffd20e;
$red: crimson;
$orange: rgb(255, 155, 24);
$darkred: rgb(90, 0, 18);
$blue: #1984d2;
$darkblue: #003757;
$green: #3cd45d;
$gray: #a8a8a8;
$darkgray: #454949;
$purple: #8301c6;
$darkpurple: #260138;
$black: #3d3d3d;
@mixin displayFont {
    font-family: 'Roboto', sans-serif;
}

@mixin body-margins{
    padding-left:$body-margin;
    padding-right:$body-margin;
}
@mixin escape-body-margins{
    margin-left:-$body-margin;
    margin-right:-$body-margin;
}